/*=========== RESET ==========*/
* {font-size: 100%; 
   border: none; 
   outline: none; 
   box-sizing: border-box;
}
body {
	  margin: 33px; 
      text-align: justify; 
	  font-family: 'Open Sans', sans-serif; 
}
h1 {color: #0427fc;}
h2 {color: #094282;}
h3 {color: #0427fc;}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}
p span {color: #0427fc; font-weight:9px;}
.pagina-inicial {margin:33px 33px;}
a{
	color:#000;
}
a:hover {
    color:#0b451d;	
}