table {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #bbb;
    background: -webkit-gradient(linear, left top, right top, from(#d2eaff), to(#1c82e4)) no-repeat;
    background: -moz-linear-gradient(left, #d2eaff, #1c82e4);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#d2eaff', EndColorStr='#1c82e4'); 
  }
td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 3px 10px;
}
